body {
  background-color: white !important;
}

.box {
  border: 10px dotted red;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
}

.search-form input,
.search-form select {
  width: 100% !important;
}

.active {
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

header {
  background-color: #f9f9f9;
  width: 100%;
  padding: 8px 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  margin-right: 8px;
  padding: 3px;
}

.pending {
  color: red;
}
